<!-- Solutions Section -->
<section id="solutions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Solutions</h2>
                <h3 class="section-subheading text-muted">We write software for robots to help people.</h3>
            </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <img style="height:200px;" src="{{ site.baseurl }}/assets/img/Panda_Cobofact_web-300x300.png"/>
            <h4 class="solution-heading">Case Cart Assembling Robot</h4>
            <p class="text-muted">We are developing a mobile robot that can assemble surgical case carts in a hospital without modifying the existing infrastructure.</p>
          </div>

          <div class="col-md-4">
            <img style="height:200px;" src="{{ site.baseurl }}/assets/img/medical-inventory.jpg"/>
            <h4 class="solution-heading">Hospital Inventory Metrics</h4>
            <p class="text-muted">Our system automatically tracks and records the conditions of all surgical tools and supplies as it assembles each surgical case cart.</p>
          </div>

          <div class="col-md-4">
            <img style="height:200px;" src="{{ site.baseurl }}/assets/img/hri.jpg"/>
            <h4 class="solution-heading">Human Robot Collaboration</h4>
            <p class="text-muted">Our robots are designed to safely work in collaboration with healthcare workers by constantly monitoring for the presence of people. This means that hospital managers do not have to modify their existing hospital infrastructure to begin leveraging our case cart assembling robot.</p>
          </div>

        </div>
    </div>
</section>
